* {
  box-sizing: border-box;
  /* background-color: #f0f1f2; */
  padding: 0px;
  margin: 0 auto;
  color: #616060;
}

.cover {
  /*border: 1px solid #1c1c1c;*/
  width: 850px;
}

button {
  border: 1px solid #919191;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 80px;
  height: 24px;
  position: relative;
  right: -550px;
  bottom: -350px;
  margin: -10px -3px;
  font-weight: bold;
}

#btn_like {
  margin: -10px 5px;
  border-radius: 3px;
}

#btn_follow {
  border-radius: 3px 0px 0px 3px;
}
#btn_period {
  width: 40px;
  font-weight: bolder;
  border-radius: 0px 3px 3px 0px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.cover_name h2 {
  position: relative;
  top: 345px;
  left: 200px;
  background: none;
  color: white;
  text-decoration: none;
}

.cover_name > a {
  position: relative;
  top: 350px;
  left: 200px;
  background: none;
  color: white;
  text-decoration: none;
}

.cover_hero {
  background-color: #4267b2;
  width: 850px;
  height: 400px;
}

.cover_image {
  border: 1px solid #1c1c1c;
  width: 150px;
  height: 150px;
  top: -190px;
  left: -320px;
  background-color: #4267b2;
  position: relative;
}

.cover_menu {
  background-color: white;
  border: 1px solid #1c1c1c;
  width: 850px;
  height: 50px;
  top: -20px;
  position: relative;
}

nav {
  font-size: 20px;
  font-weight: lighter;
  background-color: #ffffff;
}

.cover_menu ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
  border-right: 1px solid #c2c2c2;
  position: relative;
  left: 180px;
}

li:last-child {
  border-right: none;
}

li a {
  color: #616060;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  font-weight: bold;
  text-decoration: underline #4267b2 solid;
}

main {
  display: block;
  position: relative;
}
.column1 {
  width: 328px;
  height: 1050px;
  border: 1px solid black;
  position: relative;
  left: -260px;
  top: -150px;
}
.column2 {
  width: 512px;
  height: 1100px;
  border: 1px solid black;
  left: 170px;
  top: -1235px;
  position: relative;
}

.block1 {
  border: 1px solid #f8f8f8;
  width: 328px;
  height: 155px;
  margin: 0 0 10px 0;
}

.block2 {
  border: 1px solid #f8f8f8;
  width: 328px;
  height: 150px;
  margin: 0 0 10px 0;
}

.block3 {
  border: 1px solid #f8f8f8;
  width: 328px;
  height: 360px;
  margin: 0 0 10px 0;
}

.block4 {
  border: 1px solid #f8f8f8;
  width: 328px;
  height: 350px;
  margin: 0;
}

.about_page {
  border: 1px solid #f8f8f8;
  margin: 20px 0 0 0;
  height: 100px;
  width: 324px;
  padding: 5px;
}

.about_page p {
  color: rgb(71, 115, 173);
}

h5 {
  padding: 5px;
}
.about_website {
  height: 50px;
  color: rgb(71, 115, 173);
  width: 324px;
  padding: 5px;
  justify-content: center;
}

.about_website a {
  color: rgb(71, 115, 173);
  text-decoration: none;
}

.about {
  height: 30px;
  width: 320px;
  border: 1px solid #f8f8f8;
  background: #f8f8f8;
  margin: auto;
  color: #616060;
}

.about_address {
  margin: 20px;
}

hr {
  margin: 17px;
  color: #f8f8f8;
}

.app {
  display: block;
}

h4 {
  color: #616060;
}

.about_page p {
  padding-top: 8px;
}
.app1 {
  position: relative;
  top: -90px;
}

.app2 {
  position: relative;
  top: -190px;
}

.app3 {
  position: relative;
  top: -280px;
}

.app_block_welcome {
  width: 150px;
  height: 95px;
  border: 1px solid #f8f8f8;
  background: #4267b2;
  margin: 5px;
  position: relative;
  top: 100px;
  left: 0px;
}

.app_block_fwb {
  width: 150px;
  height: 95px;
  border: 1px solid #f8f8f8;
  background: #4267b2;
  position: relative;
  top: 90px;
  left: 0px;
  margin: 5px;
}

.app_block_livestream {
  width: 150px;
  height: 95px;
  border: 1px solid #f8f8f8;
  background: #4267b2;
  position: relative;
  top: 75px;
  left: 0px;
  margin: 5px;
}

.app_welcome {
  text-align: left;
  margin: 10px;
  width: 150px;
  height: 95px;
  position: relative;
  top: -5px;
  left: 150px;
  padding-top: 40px;
}

.app_fwb {
  text-align: left;
  margin: 10px;
  width: 150px;
  height: 95px;
  position: relative;
  top: -15px;
  left: 150px;
  padding-top: 40px;
}

.app_livestream {
  text-align: left;
  margin: 10px;
  width: 150px;
  height: 95px;
  position: relative;
  top: -30px;
  left: 150px;
  padding-top: 40px;
}

.photo_row1 {
  width: 100px;
  height: 95px;
  border: 1px solid #f8f8f8;
  background: #4267b2;
  position: relative;
  top: 15px;
  left: 0px;
  margin: 5px;
}

.photo_row2 {
  width: 100px;
  height: 95px;
  border: 1px solid #f8f8f8;
  background: #4267b2;
  position: relative;
  top: -285px;
  left: 105px;
  margin: 5px;
}

.photo_row3 {
  width: 100px;
  height: 95px;
  border: 1px solid #f8f8f8;
  background: #4267b2;
  position: relative;
  top: -485px;
  left: 210px;
  margin: 5px;
}

.newsfeed1 {
  width: 502px;
  height: 270px;
  border: 1px solid #f8f8f8;
}

.newsfeed_cover {
  height: 80px;
  padding: 10px;
}

.newsfeed_cover_image {
  width: 40px;
  height: 40px;
  background: #4267b2;
  float: left;
}
.newsfeed_name {
  text-align: left;
  width: 200px;
  padding-left: 5px;
  margin-left: 40px;
}

.newsfeed_image {
  height: 150px;
  background: #4267b2;
  margin: 3px;
}

.newsfeed_reaction {
  height: 30px;
  background: #f8f8f8;
  margin: 3px;
}

.newsfeed2 {
  width: 502px;
  height: 170px;
  border: 1px solid #f8f8f8;
  margin-top: 10px;
}

.newsfeed_reaction p {
  font-size: 12px;
  padding: 10px;
  color: #4267b2;
}

.newsfeed_text {
  width: 480px;
  height: 80px;
  text-align: left;
  padding: 10px;
}

.newsfeed_name h5 {
  font-weight: lighter;
}

footer {
  position: relative;
  top: -140px;
  left: 220px;
  font-weight: lighter;
  letter-spacing: 0.5px;
}
